{% extends 'base.html' %} {% block title %} 小恐龙游戏介绍 {% endblock %} {%
block content %}
<br />
<div style="text-align: center">
  <img
    src="/assets/Icon.svg"
    class="img-fluid"
    alt="Responsive image"
    width="400"
  />
</div>
<p>
  想象一下，您和您的朋友们可以使用 micro:bit 和 Flask
  实现一个充满乐趣和惊喜的多人联机小恐龙游戏！该游戏通过 micro:bit
  的重力传感器来检测您的动作，从而模拟小恐龙的弯腰和跳起动作。而且，这个游戏支持多个玩家同时在线游戏，您可以与您的朋友一起玩这个令人兴奋的游戏！
</p>
<p>您可以在游戏过程中进行如下操作：</p>
1. 跳跃：你将全力向空中跳跃，使小恐龙跳起来！<br />
2. 弯腰：你将以45~90°向前弯腰，使小恐龙俯身！<br />
3.
加速：你将向<b>左</b>侧45~90°弯腰，让别·的·玩·家·<b>加·速</b>·撞·到·仙·人·掌！<br />
4. 减速：你将向<b>右</b>侧45~90°弯腰，让自己<b>减速</b>！<br />
<p>
  本游戏采用 GPL-3 开源协议，代码托管于 GitHub。如有兴趣参与开发，欢迎访问我们的
  GitHub 页面。
</p>
<a
  class="btn btn-primary btn-lg"
  href="https://github.com/TheUnknownThing/dino-bit"
  role="button"
  >访问 GitHub</a
>
{% endblock %}
