{% extends 'base.html' %}

{% block title %}
  游戏选择
{% endblock %}

{% block content %}
  <br>
  <h1 class="mb-4">请选择游戏模式</h1>
  <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">单人游戏</h4>
            <p class="card-text">单人模式，挑战最高分！</p>
          </div>
          <div class="card-footer">
            <a onclick="window.location.href='/game'" id="single" name="single" class="btn btn-primary">开始游戏</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">多人对战</h4>
            <p class="card-text">多人对战模式，与好友一起闯关！</p>
          </div>
          <div class="card-footer">
            <a onclick="window.location.href='/game'" id="multi" name="multi" class="btn btn-primary">开始游戏</a>
          </div>
        </div>
  </div>
{% endblock %}