{% extends "base.html" %}

{% block content %}
<br>
  <div class="container">
    <h1>游戏分数排行榜</h1>

    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#mode1">多人游戏</a></li>
    </ul>

    <div class="tab-content">
      <div id="mode1" class="tab-pane fade in active">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>排名</th>
              <th>用户名</th>
              <th>分数</th>
            </tr>
          </thead>
          <tbody id="mode1-leaderboard">
          </tbody>
        </table>
      </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
  // load scores from local storage
  var scores = JSON.parse(localStorage.getItem('allscore'));

  // sort scores by descending order
  scores.sort(function(a, b) {
    return b.score - a.score;
  });

  // display mode 1 (multiplayer) leaderboard
  $.each(scores, function(index, user) {
    if (user.mode === 1) {
      var rank = index + 1;
      var row = '<tr><td>' + rank + '</td><td>' + user.username + '</td><td>' + user.score + '</td></tr>';
      $('#mode1-leaderboard').append(row);
    }
  });
});
    </script>
{% endblock %}